ul.header-ul {
    display: flex;
    white-space: nowrap;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    margin-right: 130px;
    justify-content: space-between;
    width: 30%;

    /* left: 50%;
    transform: translate(-50%, -50%);
    width: 100%; */
}

a.header-a {
    color: rgba(255,255,255,.7)
}

a.header-a {
    transition: all .3s;
}

a.header-a-selected {
    color:white;
    text-decoration: underline;
    font-weight: 700;
}

a.header-a:link {
    color: rgba(255,255,255,.7);
}
  
  /* visited link */
a.header-a:visited {
    color:rgba(255,255,255,.7);
}
  
  /* mouse over link */
a.header-a:hover {
    color:white !important;
    text-decoration: underline;
    font-weight: 700;
}
  
  /* selected link */
a.header-a:active {
    color: rgba(255,255,255,.7);
}

li.header-li {
    background-size: cover;
    display: inline-block;
    position: relative;
}

@media only screen and (max-width: 825px) {
    .nav-header-bg {
        display: none !important;
    }
    .div-Cont {
        display: none !important;
    }
    .header {
        background: #000 !important;
    }
}

@media only screen and (max-width:1265px) {
    ul.header-ul {
        display:none;
    }

    a.menu-open {
        display:block !important;
    }
}

.menu-open {
    margin-left: 10px;
}