/*Importera font som lagras lokalt*/
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.75rem;
  font-family: Poppins,Helvetica Neue,Arial,sans-serif;
  font-weight: 300;
  line-height: 1.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


html {
  scroll-behavior: smooth; /* Änra till smooth scrolling för knappar som länkar till anchors, etc. */
}

body {
  font-family: Poppins,Helvetica Neue,Arial,sans-serif; /*Ändra font på hela sidan, använd "fallback" font om fontet inte funkar*/
  color: #333;

  /* Förhindra användaren från att markera text */
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.top-container {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}

.header { /* Headern */
  margin: auto;
  height: 43px;
  position: -webkit-sticky; /* Fäst headern så att den följer med när du scrollar */
  position: sticky; /* Fäst headern så att den följer med när du scrollar */
  top: 0;
  width: 100%;
  z-index:1003;
  transition: all .2s ease-in-out; /* Animera alla ändringar som ändras live*/
}


/* Vi använder "kodnamnet" ImgX (där X är ett element för allting på den första bilden */
.ImgH { /* Header Texten som ligger över den första div;en */
  line-height: 1.625;

  /* Centrera texten */
  position: absolute;
  top: 40%;
  font-size: 80px;
  color: white;
  text-align:center;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

/* Anpassa texten beroende på fönster storleken */
@media only screen and (min-width: 900px) and (max-width: 649px) {
	.ImgH {
    font-size: 40px;
  }
  .attr-h1 {
    font-size: calc(23.04px + 4*(100vw - 400px)/500);
  }
}

@media only screen and (min-width: 1200px) {
  .attr-h1 {
    font-size: 40.96px;
  } 
}


.ImgArr {
  font-size: 48px !important; /* important används för att överskrida material designs default */
  text-decoration: none !important; /* Föremålet har en länk, tag bort under linjen */
  color: #fff; /* Föremålet har en länk, ändra färgen till vit */

  /* Centrera föremålet */
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.PopClose {
  font-size: 20px !important;
  text-decoration: none !important;
  color: #000;
  margin-left: 95%;
  position: absolute;
  top: 4%;
  right: 2%;
}

.WinClose {
  font-size: 20px !important;
  text-decoration: none !important;
  color: #000;
  margin-left: 95%;
}

.header-bg-scroll { /* Bakgrunden och stilen av headern ändras via JS */
  background-color: rgba(0,0,0,.3);
  backdrop-filter: saturate(50%) blur(15px);
}

.hContent { /* "wrapper" för header */
  position: relative;
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  max-width: 1680px;
  padding: 0 40px;
  z-index:1002; /* z-index används för att anpassa föremålets lager, om den ska ligga under eller över andra föremål */
}

.div-Cont { /* "wrapper" för linjen under header, enda sättet jag lyckades fixa den position att ligga rätt */
  position:absolute;
  bottom: 0;
  width: 100%;
  z-index:1001;

}

.hDivider { /* En linje under headern, små detaljer */
  /* Centrera föremålen */
  justify-content: space-between;
  align-items: center;
  height: 1px;
  max-width: 1600px;
  transition: width .2s ease-in-out; /* Animera live ändringar till width;en*/
  width: calc(100% - 80px); /* Anpassa element att vissas på samma sätt oberoende på skärm storlek */
  background-color: rgba(255,255,255,.1);
  margin: auto;
}

.ImgTop { /* Den första  bilden på sidan */
  position: relative;
  max-width: 100%;
  min-height: 100vh;
  object-fit:cover;
}

.hDivider-scroll { /* Ändra widthen under headern vid scroll nedåt, classen ändras vi JS */
  width: 100%;
  max-width: none;
}

.hText { /* Texten som visas i headern */
  font-size: 21px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-decoration: none !important; /* Texten har en länk, ta bort underlinjen etc. */
  color: #fff; /* Texten har en länk, ändra färgen till vit */
  line-height: 1.14286;
  font-weight: 600;
  letter-spacing: .011em;
}

.hText:hover {
  color: white !important;
}

.ImgArr:hover {
  color: white !important;
}

.content {
  padding: 0px;
  margin-top: -43px;
  height: 100%;
  background: linear-gradient(to top, rgba(105,105,105,.4), rgba(0,0,0,0.4)33%,rgba(0,0,0,0)100%); /* Använd gradient för att skapa en sort shadow, får bilden att se mörkare ut */
  margin-bottom: 6px;
}

/* Header bakgrund, följer med och visas hela tiden*/
.nav-header-bg::after {
  content: '';
  height: 100px;
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom,rgba(0,0,0,.4) 0,rgba(0,0,0,.4) 33%,rgba(0,0,0,0) 100%); /* Avnänd gradient för att skapa en sorts shadow */
}

/* anpassa list element, lig brevid, centrerat*/
li {
  width: 300px;
  height: 420px;
  border-radius: 10px;
  background-size: cover;
  display: inline-block;
  position: relative;
  margin-right: 2rem;
  margin-bottom: 1rem;
}

/* Material Design FAB kopierad shadow, ser ut som att elementet flyter över sidan*/
li {
  box-shadow: 5px 5px 20px 1px rgba(0,0,0,0.3);
  -webkit-transition: .3s cubic-bezier(.175,.885,.32,1.275);
  transition: .3s cubic-bezier(.175,.885,.32,1.275);
}

li:hover {
  box-shadow: 0 10px 22px 0 rgba(80,182,210,0.5);
}

.transform-wrapper {
  white-space: nowrap;
  padding-top: 10px;
  font-size: 0;
  overflow-x: scroll;
  width: 100%;
  min-height: 285px;

  scrollbar-color: rgba(0,0,0,0.5) transparent;
  scrollbar-width: thin;
  margin-bottom: 5rem;
}

/* width */
.transform-wrapper::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.transform-wrapper::-webkit-scrollbar-track {
  background: transparent; 
}
 
/* Handle */
.transform-wrapper::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.5); 
}

/* Handle on hover */
.transform-wrapper::-webkit-scrollbar-thumb:hover {
  background: rgba(0,0,0,0.8); 
}

.container { scrollbar-shadow-color: rgba(0,0,0,0.5); }

/*Hover animation*/
.hover-li {
  object-fit: fill;
  border-radius: 10px;
  -webkit-transition: .3s cubic-bezier(.175,.885,.32,1.275);
  transition: .3s cubic-bezier(.175,.885,.32,1.275);
}

.hover-li:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0);
  -webkit-transition: .3s cubic-bezier(.175,.885,.32,1.275);
  transition: .3s cubic-bezier(.175,.885,.32,1.275);
}

.hover-li:hover:after {
  background: rgba(0, 0, 0, 0.4);
  z-index: 1002;
}

.li-title {
  opacity: 0;
  position: absolute;
  width: 500px;
  left: 0;
  top: 120px;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: white;
}

.li-title:hover {
  opacity: 1;
}

.hover-li:hover {
  transform: scale(1.05);
}

/* centrera listor */
ul {
  display: table;
  white-space: nowrap;
  list-style: none;
  font-size: 0;
  padding-bottom: 1.5rem;
  padding-top: 1rem;
  margin-bottom: 4.5px;
}

/* Fyll länk tag */
.fill {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}

.attr-h1 {
  padding-left: 40px;
  width: auto;
  color: #363636;
  font-weight: 600 !important;
}








.section {
  position: relative;
  height: 100vh;
}

.section .section-center {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

#bg-page {
  font-family: 'Montserrat', sans-serif;
  background-size: cover;
  background-position: center;
  z-index: 1009;
  position: -webkit-fixed; /* Fäst popupen till skärmen */
  position: fixed; /* Fäst popupen till skärmen */
  top: 0;
  width: 100%;
}

#bg-page::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.4);
}

#bg-popup {
  font-family: 'Montserrat', sans-serif;
  background-size: cover;
  background-position: center;
  z-index: 1009;
  position: -webkit-fixed; /* Fäst popupen till skärmen */
  position: fixed; /* Fäst popupen till skärmen */
  top: 0;
  width: 100%;
}

#popup-css {
  width: 70% !important;
  transform: translate(20%);
}

#popup-title {
  margin-bottom: 0px; 
  border-bottom: 1px solid rgba(0,0,0,0.2);
  margin-top: 10px;
}

.lucky-popup {
  position: relative;
}

#bg-popup::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.4);
}

.race-for-luck {
  background-color: #fff;
  padding: 10px 10px;
  -webkit-box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  min-height: 532px;
}

.race-for-luck .form-group {
  position: relative;
  margin-bottom: 30px;
}

.race-for-luck .form-control {
  background-color: #ebecee;
  border-radius: 4px;
  border: none;
  height: 40px;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #3e485c;
  font-size: 14px;
}

.race-for-luck .form-control::-webkit-input-placeholder {
  color: rgba(62, 72, 92, 0.3);
}

.race-for-luck .form-control:-ms-input-placeholder {
  color: rgba(62, 72, 92, 0.3);
}

.race-for-luck .form-control::placeholder {
  color: rgba(62, 72, 92, 0.3);
}

.race-for-luck input[type="date"].form-control:invalid {
  color: rgba(62, 72, 92, 0.3);
}

.race-for-luck select.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.race-for-luck select.form-control+.select-arrow {
  position: absolute;
  right: 0px;
  bottom: 4px;
  width: 32px;
  line-height: 32px;
  height: 32px;
  text-align: center;
  pointer-events: none;
  color: rgba(62, 72, 92, 0.3);
  font-size: 14px;
}

.race-for-luck select.form-control+.select-arrow:after {
  content: '\279C';
  display: block;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.race-for-luck .form-label {
  display: inline-block;
  color: #3e485c;
  font-weight: 700;
  margin-bottom: 6px;
  margin-left: 7px;
}

.race-for-luck .submit-btn {
  display: inline-block;
  color: #fff;
  background-color: #1e62d8;
  font-weight: 700;
  padding: 14px 30px;
  border-radius: 4px;
  border: none;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.race-for-luck .submit-btn:hover,
.race-for-luck .submit-btn:focus {
  opacity: 0.9;
}



svg {
  width: 100px;
  display: block;
  margin: 40px auto 0;
}

.thanks {
  display: none;
}

a:active {
  color: #fff !important;
}

a:focus {
  color: #fff !important;
}

#browser-not-supported {
  font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 13px;
  line-height: 21px;

  max-width: 700px;
  padding: 30px 20px;
  margin: 0 auto;
  text-align: center;
}

.status-page-image {
  border-radius: 400px;
  background: #000;
  border: 1px solid #c5c5c5;
  padding: 3px;
  width: 215px;
  height: 215px;
  margin-bottom: 15px;
}

.not-supported-page-title {
  font-size: 24px !important;
  line-height: 36px !important;
  font-weight: 600 !important;
  margin-bottom: 15px;

  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.not-supported-intro {
  margin-bottom: 15px;
  font: inherit;

  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.win-bg {
  background-color: rgba(0,0,0,0.5);
  z-index: 1010;
  width: 100%;
  position: -webkit-fixed;
  position: fixed;
}

.win-some-info {
  padding: 12px 0;
  margin-top: 0;
  font-size: 14px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.win-some-info a {
  color: #fff !important;
}

.win-some-info a:hover {
  color: #fff !important;
}

.win-some-info a:active {
  color: #fff !important;
}

.win-some-info a:focus {
  color: #fff !important;
}