.ImgSecTop { /* Den första  bilden på sidan */
    position: relative;
    max-width: 100%;
    width: 100%;
    object-fit:cover;
}

.StoresContainer {
    position: relative;
    text-align: center;
    color: white;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.5);
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 400;
    font-size: 80px;
}

@media only screen and (min-width: 300px) and (max-width: 649px) {
    .centered {
      font-size: 23px !important;
      top: 65% !important;
    }
}

h3.shopping-introduction {
    width: 60%;
    margin: auto;
    margin-top: 10px;
    text-align: center;
}

.styled-hr {
    width: 65%;
}

.styled-h1 {
    width: 57% !important;
    text-align: center;
    font-weight: 600;
}

.styled-h2 {
    width: 65% !important;
    text-align: center;
    font-weight: 600;
}